<div class="image">
    <img src="#">
</div>

<div class="user">
    
<% if user_signed_in? %>
<div class="mypage">
    <a href="#">マイページ</a>
</div>

<div class="log">
    <a href="#">ログアウト</a>
</div>
<% else %>
<div class="login">
    <a href="/users/sign_in">ログイン</a>
</div>
<% end %>

</div>

<div class="main">
<ul>
    <li><a href="/environment" target="_blank">開発環境の構築(cloud9の登録)</a></li>
    <li><a href="/page" target="_blank">TopページとAboutページを作成</a></li>
    <li><a href="/login" target="_blank">ログイン機能とカラムの追加</a></li>
    <li><a href="/bootstrap" target="_blank">Bootstrapでデザインを良くする</a></li>
    <li><a href="/ja" target="_blank">日本語化</a></li>
    <li><a href="/blog" target="_blank">ブログを作成</a></li>
    <li><a href="/validates" target="_blank">バリデーション</a></li>
    <li><a href="/search" target="_blank">ブログ検索機能</a></li>
    <li><a href="/association" target="_blank">アソシエーション</a></li>
    <li><a href="/release" target="_blank">ネットに公開　課題</a></li> <!-- フォロー機能なしのInstagram -->
    <li><a href="/contact" target="_blank">お問い合わせ　メール送信</a></li>
    <li><a href="/authentication" target="_blank">メール認証付きのログイン機能</a></li>
    <li><a href="/github" target="_blank">Github</a></li>
    <li><a href="/twitter" target="_blank">Twitterログイン　課題</a></li> <!-- Facebook, Githubログイン -->
    <li><a href="/error" target="_blank">エラー画面</a></li>
    <li><a href="/admin" target="_blank">管理画面</a></li>
    <li><a href="/comment" target="_blank">コメント機能</a></li>
    <li><a href="/follow" target="_blank">フォロー機能</a></li>
    <li><a href="/like" target="_blank">いいね機能</a></li>
    <li><a href="/message" target="_blank">メッセージ機能</a></li>
    <li><a href="/s3" target="_blank">Amazon S3　動画投稿</a></li>
    <li><a href="/notification" target="_blank">通知機能　課題</a></li> <!-- Facebook, LINE -->
    <li><a href="/ranking" target="_blank">ランキング機能を作成</a></li>
    <li><a href="/ecsite" target="_blank">ECサイトを作成</a></li>
    <li><a href="/evaluation" target="_blank">評価サイトを作成　課題</a></li> <!-- Amazon -->
    <li><a href="/rspec" target="_blank">Rspec</a></li>
<!--    <li><a href="/html_css" target="_blank">HTML,CSS基礎と応用</a></li>
    <li><a href="/sass" target="_blank">SASS</a></li>
    <li><a href="/js" target="_blank">Javascript基礎と応用</a></li>
    <li><a href="/jquery" target="_blank">jQuery基礎と応用</a></li>
    <li><a href="/angular" target="_blank">AngularJS基礎と応用</a></li>
-->
</ul>
</div>